<%= form_for(@order) do |f| %>
    <% #display error messages if form can't be submitted. %>
    <% #please see shared partial "error_messages.html.erb" for details. %>
    <% #please also refer to the model Categories for validations that may impede submission %>
    <%= render 'shared/error_messages', :object => f.object %>
<table>
  <tr><td>Customer:</td><td><strong><%= @order.user.name + ' | ' + @order.user.email %></strong></td></tr>
  <tr><td>Order No:</td><td><strong><%= @order.id %></strong></td></tr>
  <tr><td>Order Date:</td><td><strong><%= @order.created_at.to_formatted_s(:short) %></strong></td></tr>
  <tr><td>Status:</td><td><%= f.select :status, Order::STATUS %></td></tr>

</table>
<br />

<h3>Items</h3>
<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </tr>
<% @order.line_items.each do |item| %>
  <tr>
    <td><%= item.product.title %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency item.product.price, unit: "&pound;" %></td>
    <td><%= number_to_currency (item.quantity * item.product.price), unit: "&pound;" %></td>
  </tr>
<% end %>
  <tr>
    <td></td>
    <td><strong><%= @order.line_items.map do |i| i.quantity end.sum %></strong></td>
    <td></td>
    <% total = @order.line_items.map do |i| i.quantity * i.product.price.to_f end.sum %>
    <td><strong><%= number_to_currency total, unit: "&pound;" %></strong></td>
  </tr>
</table>
<div class="actions">
  <%= f.submit  %>
</div>
<% end %>