<h1>Products</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sold</th>
    <th>Available</th>
    <td></td>
  </tr>
<% @products.each do |product| %>
  <tr>
    <td><%= product.title %></td>
    <td><%= number_to_currency product.price, unit: "&pound;" %></td>
    <td><%= product.quantity %></td>
    <td><%= product.line_items.map do |i| i.quantity end.sum %></td>
    <td><%= product.quantity - product.line_items.map do |i| i.quantity end.sum %></td>
    <td><%= link_to 'edit', edit_product_path(product) %> |
        <%= link_to 'delete', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>