<% if current_user.nil? %>
  <div class="align-right"><%= link_to 'Login', login_path %></div>
<% else %>
  <div class="align-right"><%= link_to 'Not ' + current_user.name + '? / Logout', logout_path %></div>
<% end %>
<br />
<div class="admin-area">
  <p><strong>Manage Categories</strong><br />
  <%= link_to '-show categories', categories_path %><br />
  <%= link_to '-create a category', new_category_path %>
  </p>
  <p><strong>Manage Products</strong><br />
  <%= link_to '-show products', products_path %><br />
  <%= link_to '-create a product', new_product_path %>
  </p>
  <p><strong>Manage Users</strong><br />
  <%= link_to '-show users', users_path %><br />
  <%= link_to '-create a user', new_user_path %>
  </p>
  <p><strong>Manage Orders</strong><br />
  <%= link_to '-show orders', orders_path %><br />
  </p>
</div>
