<% #Please note we are using HTML5 in this application. %>
<!DOCTYPE html>
<html>
<head>
  <title>CI3540 - Web Based Enterprise Services</title>
  <!--[if lte IE 8]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<section>
  <header>
    <% #here we are including the _header.html.erb. %>
    <%= render "layouts/header" %>
  </header>

  <% #here we are displaying the error/success message. Please note controllers for message's' details. %>
    <% flash.each do |key, value| %>
  <% #the key will be used in the css (.error and .success) and the value is the message %>
  <div class="flash <%= key %>"><%= value %></div>
    <% end %>

  <nav>
    <% #here we are including the _nav.html.erb. %>
    <%= render "layouts/nav" %>
  </nav>

  <div id="content">
    <% #here is where all the views related to controllers will be displayed. %>
    <%= yield %>
  </div>
  
  <div id="searching">
    <% #here we are including the _search.html.erb. %>
    <%= render "layouts/search" %>
  </div>

  <% #inside ID "cart" we will display the admin navigation id logged user has admin privileges, %>
  <% # otherwise we display the cart. Please note that the method "current_user" is declared on  %>
  <% # application controller. %>
  <div id="cart">
    <% #before checking if the user is admin we need to check if there is someone is logged in, %>
    <% # otherwise we will ge an error trying to get "current_user.admin". %>
  <% if current_user.nil? %>
     <% #if nobody is logged we including the _cart.html.erb. %>
     <%= render "layouts/cart" %>
  <% else %>
    <% #if someone is logged we need to check if the user has admin privileges. %>
    <% if current_user.admin? %>
      <% #if yes, we including the _admin.html.erb %>
      <%= render "layouts/admin" %>
    <% else %>
      <% #hif the user is not an admin we including the _cart.html.erb %>
      <%= render "layouts/cart" %>
    <% end %>
  <% end %>
  </div>

  <footer>
    <% #here we are including the _footer.html.erb %>
    <%= render "layouts/footer" %>
  </footer>
</section>

</body>
</html>
